.signup-wrap {
    min-width: 1050px;
    position: relative;
    margin: 90px auto 60px;
    text-align: center;
    height: auto;
}
.signup-title {
    margin-bottom: 60px;
}
.signup-box-1 {
    /* 가운데 정렬 */
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

.signup-box-1 div[class*='signup-']{
    display: inline-flex;
    width: 100%;
    justify-items: center;
    padding: 10px 20px;
}
.signup-box-1 div[class*='signup-'] div:first-child{
    width: 139px;
    padding-top: 12px;
}

.signup-box-1 div[class*='signup-'] div[class$='-inputbox']{
    position: relative;
    height: 48px;
    width:300px;
    margin: 0 30px 0 0;
}

.signup-box-1 div[class*='signup-'] div[class$='-inputbox'] input[type='text'], input[type='password']{
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.signup-box-1 div[class*='signup-'] div[class$='-check'] {
    height: 44px;
    border-radius: 3px

}

.signup-box-1 div[class*='signup-'] div[class$='-check'] button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 52px;
    border-radius: 6px;
    color: var(--main-bg-color);
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--main-bg-color);
}

.signup-box-1 div[class*='signup-'] div[class$='-check'] button:hover{
    cursor: pointer;
}

/* 패스워드 불일치시 정보*/
.pwdcheck-title span{
    padding: 10px 0px;
    font-size: 14px;
}

.address_2{
    margin-top:5px;
}

.gen-inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.required{
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}
.signup-box-3{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}

.signup-box-3 button {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: var(--main-bg-color);
    border: 0px none;

}

.signup-box-3 button:hover{
    cursor: pointer;
}

.bline {
    padding: 10px 0 0 0;
    border-bottom: 2px solid rgb(51, 51, 51);
}