<!-- ------------------- footer -------------------- -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>CUSTOMER SERVICE CENTER</h3>
                    <p>Call me</p>
                </div>
                <div class="footer-col-2">
                    <img src="/static/images/snubfy.png" alt="">
                    <p>
                </div>
                <div class="footer-col-3">
                    <ul>Useful Links</ul>
                        <li>Instagram</li>
                        <li>facebook</li>
                        <li>naver blog</li>
                        <li>youtube</li>
                </div>
            </div>
        </div>
    </div>